{% include "inc/header.html" with Title="Article Editor | Blog App"%}
{% load static %}
    <script defer src="{% static 'fontawesome/js/all.js' %}"></script> <!--load all styles -->
    <link rel="stylesheet" href="{% static 'core/articleEditor.css' %}">
    {{ form.media }}
</head>
<body>
    <form action="." method="POST">{% csrf_token %}
        <div class="form-header">
            <a href="/">
                <img src="{% static 'core/banner.svg' %}" alt="Company Logo">
            </a>
            <button class="primary-button" type="submit"> <i class="fas fa-save"></i> Save</button>
        </div>
        <div class="form-contents">
            <h1>Article Editor</h1>
            {{ form }}
        </div>
    </form>
</body>
</html>