<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Article.Title|title }} | Blog App</title>
    {{ CommentForm.media }}
</head>
<body>
    <div>
        <h1>{{ Article.Title | title }}</h1>
        <b>{{ Article.ReadTime | date:"i" }} minutes to read</b>
        <div>
            <p>{{ Article.Body.html | safe }}</p>
        </div>
        <div>
        <h2>Comments</h2>
        <form method="post">{% csrf_token %}
            {% for hiddenField in CommentForm.hidden_fields %}
                {{ hiddenField }}
            {% endfor %}
            {% for field in CommentForm.visible_fields %}
                {{ field }}
            {% endfor %}
            <button type="submit">Submit</button>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </form>

        {% for comment in Comments %}
            <div>
                <h3>{{ comment.Author.Name }}</h3>
                <b>{{ comment.PublishedDate }}</b>
                {% if comment.PublishedDate.date != comment.LastEditDate.date %} - Last Edit: {{ comment.LastEditDate }} {% endif %}
                <div>{{ comment.Body.html | safe }}</div>
            </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>