{% include "inc/header.html" with Title="Dashboard | Blog App"%}
    {% load static %}
    <script defer src="{% static 'fontawesome/js/all.js' %}"></script> <!--load all styles -->
    <link rel="stylesheet" href="{% static 'core/dashboard.css' %}">
</head>
<body class="dashboard-container">
    <img class="header" src="{% static 'core/banner.svg' %}" alt="Company Logo">
        <a href="/articleEditor" class="primary-button newArticle">
            <span>
                <i class="fas fa-plus"></i> Create
            </span>
        </a>
        <a href="/logout" class="secondary-button logout">
        <span>
            <i class="fas fa-sign-out-alt"></i> Log Out
        </span>
        </a>
    <div class="articles main">
        {% for article in UserArticles %}
                <a href="/article/{{article.pk}}" class="article-container">
                    <div class="article-title">
                        <h2>{{ article.Title|title }}</h2>
                        <span>{{ article.PublishedDate|date:"d M. Y" }}</span>
                    </div>
                    <span class="reading-time"><i class="fas fa-clock"></i> {{ article.ReadTime|date:"i" }} minutes</span>
                    <span class="commentsCount"> <i class="fas fa-comment-alt"></i> {{ article.CommentsCount }}</span>
                </a>
        {% endfor %}
    </div>
</body>
</html>